@import './assets/mediaquery.css';
@import './custom-grid.css';
@import './assets/css/header.css';
@import './assets/css/double-transparent-header.css';
@import './assets/css/iconfeatures.css';
@import './assets/css/features.css';
@import './assets/css/contact.css';
@import './assets/css/projects.css';
@import './assets/css/about.css';
@import './assets/css/footer.css';
@import './assets/css/hello.css';
@import './assets/css/burger.css';

:root {
  overflow-x: hidden;
  margin-right: 0;
  font-family: 'Open Sans', sans-serif;
  --main-color: #10cab7;
  /* color: var(--main-color); */
}
