.wrapper {
    background-color: #F6F6F6;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding:50px;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 30vw;
}
.about-wrapper-hard-text {
  font-weight: 600;
  
}
.about-wrapper-line {
  border: 1px solid var(--main-color);
}   