.burger-menu::before {
  content: url(../img/menu_open-24px.svg);
}
.burger-menu {
  position: absolute;
  top: 0px;
  right: -100px;
}
.burger-list {
  display: flex;
  flex-direction: column;
}
.burger-options:hover {
  color: var(--main-color);
  cursor: pointer;
}
.burger-heading {
  color: white;
}
.burger-options {
  margin: 5px;
  color: white;
}
.burger-list:hover{
    position: relative;
}