.features-wrapper {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.features-wrapper-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  word-wrap: break-word;
  width: 300px;
  padding: 30px;
}
.features-wrapper-image {
  position: relative;
  width: 320px;
  height: 300px;
  margin: auto;
  z-index: 50;
}

.printer::before {
  content: url(../img/printer.png);
}
.task::before {
  content: url(../img/application-settings.png);
}
.message::before {
  content: url(../img/message-processing-outline.png);
}
.desktop::before {
  content: url(../img/desktop-mac.png);
}
