.icon-feature-wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 40px;
}
.feature-wrapper {
  padding-left: 70px;
  padding-right: 70px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-wrapper-image {
  height: 70px;
  width: 70px;
}
.feature-wrapper-heading {
  font-size: 1.3rem;
}
.feature-wrapper-text {
  line-height: 33px;
}
